<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RegistroTecnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler d-none" id="nav-toggle" />

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <!--Técnicos  -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Tecnico/Index" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Tecnicos
            </NavLink>
        </div>

        <!-- Clientes -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Clientes/Index">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span>Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Tickets/Index">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Tickets 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Sistemas/Index">
                <span class="bi bi-person-lines-fill fs-5 d-flex align-items-center " aria-hidden="true"></span> Sistemas
            </NavLink>

        </div>

        
    </nav>
</div>
