@page "/Cliente/Delete/{ClienteId:int}"
@inject ClientesServices clienteService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Eliminar Cliente</PageTitle>

<div class="container">
    <div class="card shadow-header">
        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3><strong>Eliminar Cliente</strong></h3>
        </div>

        @if (clientes != null)
        {
            <div class="card-header text-center">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar este cliente?</h3>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del cliente:</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled">
                                                <li><strong>ClienteId:</strong> @clientes.ClienteId</li>
                                                <li><strong>Nombres:</strong> @clientes.Nombres</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarCliente">
                    <i class="bi bi-trash-fill"></i> Eliminar
                </button>
                <button type="button" class="btn btn-outline-primary" @onclick="Retroceder">
                    <i class="bi bi-box-arrow-left"></i> Retroceder
                </button>
            </div>
        }
        else
        {
            <div class="card-body text-center">
                <h5 class="text-danger">Cliente no encontrado.</h5>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int ClienteId { get; set; }
    public Clientes? clientes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Validar el parámetro y buscar el cliente.
        if (ClienteId > 0)
        {
            clientes = await clienteService.Buscar(ClienteId);
        }
    }

    public async Task EliminarCliente()
    {
        if (clientes == null)
        {
            
            return;
        }

        if (await clienteService.Eliminar(ClienteId))
        {
         
            Retroceder();
        }
        else
        {
            
        }
    }

    public void Retroceder()
    {
        navigationManager.NavigateTo("/Cliente/Index");
    }
}
